<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>   
    <connectionStrings>
        <add name="CadenaConexion" connectionString="Data Source=MATIAS-PC\SQLEXPRESS;Initial Catalog=Agenda;User ID=sa;Password=421698"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
</configuration>
